#control-carousel .owl-item img {
height: 120px;
display: block;
width: auto;
}

#main-photo img {
    width: 100%;
    height: 100%;
}

#main-photo a {
    position:absolute;
    z-index:200;
    right: 20px;
}
