.map-panel {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#map-canvas { 
    height: 500px;
}

#loading-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

#map-form {
    text-align:center;
}

.center {
    display:inline-block;
}

.horz-center {
    position:relative;
    top:5px;
}

.input-thin {
    width:100px;
}