{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/photos/owl.carousel.css">
    <link rel="stylesheet" href="/static/photos/owl.theme.css">

    <link rel="stylesheet" href="/static/photos/magnific-popup.css"> 
    
    <link rel="stylesheet" href="/static/photos/photos.css" rel="stylesheet">

{% endblock %}



{% block javascript %}

    <script>
        var flickr_api_get_photos = "{{flickr_api_get_photos|safe}}";
    </script>
    
    <script src="/static/photos/owl.carousel.js"></script>
    <script src="/static/photos/jquery.magnific-popup.js"></script> 

    <script src='/static/photos/photos.js'></script>


    
{% endblock %}


{% block content %}
<div id="control-carousel" class="owl-carousel">

</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" id="main-photo"></div>
  <div class="col-md-2"></div>

</div>
<div >
    

</div>

{% endblock %}
