{% extends 'base.html' %}

{% block css %}
    <link href="/static/photos/flexslider.css" rel="stylesheet">
    <link href="/static/photos/photos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/photos/magnific-popup.css"> 

{% endblock %}



{% block javascript %}

    <script>
        var flickr_api_get_photos = "{{flickr_api_get_photos|safe}}";
    </script>
    <script src='/static/photos/modernizr.js'></script>

    <script src='/static/photos/photos.js'></script>
    <script src='/static/photos/jquery.flexslider.js'></script>
    <script src='/static/photos/jquery.easing.js'></script>
    <script src='/static/photos/jquery.mousewheel.js'></script>

    <script src="/static/photos/jquery.magnific-popup.js"></script> 
{% endblock %}


{% block content %}
<div class='row'>
    <div id='carousel' class='flexslider'>
            <ul class='slides'>
            </ul>
        </div>
</div>

<div class='row'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
        <div id='main-photo' class='flexslider'>
            <ul class='slides'>
            </ul>
        </div>

    </div>
    <div class='col-md-2'>
    </div>

    <div class='col-md-0'>
    </div>
</div>
{% endblock %}
