{% extends 'base.html' %}

{% block css %}
    <link href="/static/map/map.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBN4BYI6eqF2WlQE2HVbHkSP_Ldu6USWZw&sensor=true'></script>
    <script src='/static/map/map.js'></script>

{% endblock %}


{% block content %}
    <div id='map-controls'>
        <form  id='map-form' class="form-inline horz-center" role="form">
            <div class='center'>
                <div class="form-group">
                
                    <label for="start_date">Start:</label>
                    <input type="text" class="form-control" style='width:100px' id="start_date" >
                </div>
                <div class="form-group">
                    <label for="end_date">End:</label>
                    <input type="text" class="form-control" style='width:100px' id="end_date">
                </div>
                <label><input type="checkbox" id='layovers' checked> Show Layovers</label>
            </div>
        </form>
    </div>
    
    <div id="map" class="panel panel-default map-panel">
        <div id='loading-area'>

        
            <div class="panel-body" id="map-canvas">
                Panel content
            </div>
            
            <div id="info-panel" class="panel-footer" style='height:44px; text-align:center'>
            </div>
        </div>
      
    </div>
{% endblock %}