{% extends 'base.html' %}

{% block css %}
    <link href="/static/map/map.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBN4BYI6eqF2WlQE2HVbHkSP_Ldu6USWZw&sensor=true'></script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(39.8282, -98.5795),
                zoom: 4,
                scrollwheel: false,
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var ctaLayer = new google.maps.KmlLayer({
                url: 'http://rexkirshnercom.appspot.com/api/location_history.kml',
                preserveViewport: true,
            });
            ctaLayer.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        
        
        
    </script>
{% endblock %}


{% block content %}
    <div class="panel panel-default map-panel">
        <div class="panel-header">Panel footer</div>
      <div class="panel-body" id="map-canvas">
        Panel content
      </div>
      
    </div>
{% endblock %}