{% extends 'base.html' %}

{% block css %}
    <link href="/static/map/map.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
    
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBN4BYI6eqF2WlQE2HVbHkSP_Ldu6USWZw&sensor=true'></script>
    <script src='/static/map/map2.js'></script>
    <script src="/static/js/is-loading.js" type="text/javascript"></script>

{% endblock %}


{% block content %}

    
    <div id="map" class="panel panel-default map-panel">
        <div id='loading-area'>

        
            <div class="panel-body" id="map-canvas">
            </div>
            
            <div id="info-panel" class="panel-footer" style='height:44px; text-align:center'>
            </div>
        </div>
      
    </div>
    
    <div id='stats-panel'>
    
    </div>
    
        <div id='trips'>
            <table class="table" >
                <thead style="font-weight:bold">
                    <tr>
                        <td >Date</td>
                        <td>Description</td>
                        <td> Work Trip? </td>
                        <td>Start</td>
                        <td>End</td>
                    </tr>
                </thead>
                <tbody id="trip-table">
                
                </tbody>
                
            </table>
        </div>
        
    </div>
{% endblock %}